/*
 * Device Tree Source for the Android
 *
 * Copyright (C) 2018 GlobalLogic
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/ {
	chosen {
		bootargs = "";
	};

	keylongpress {
		compatible = "key-long-press";
		key_down_delay = <10000>;
	};

	android {
		vbmeta {
			compatible = "android,vbmeta";
			parts = "vbmeta,boot,dtbo";
		};

		partitions {
			/* Should be filled by U-boot at boottime */
		};
	};
};
