/*
* Device Tree Source for the H3ULCB Kingfisher board:
*  this adding resource for CN10
*  use CN10 instead default CN29/CN48
*
* Copyright (C) 2017 Renesas Electronics Corp.
* Copyright (C) 2017 Cogent Embedded, Inc.
* Copyright (C) 2018, 2020 GlobalLogic
*
* This file is licensed under the terms of the GNU General Public License
* version 2.  This program is licensed "as is" without any warranty of any
* kind, whether express or implied.
*/

#define LVDS_CAMERA		\
	"ovti,ov10635",		\
	"ovti,ov490"

/ {

	vdd_cam_a_0: regulator@14 {
		compatible = "regulator-fixed";
		regulator-name = "Video-A PWR0";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		gpio = <&video_a_ext 9 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vdd_cam_a_1: regulator@15 {
		compatible = "regulator-fixed";
		regulator-name = "Video-A PWR1";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		gpio = <&video_a_ext 8 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vdd_cam_a_2: regulator@16 {
		compatible = "regulator-fixed";
		regulator-name = "Video-A PWR2";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		gpio = <&video_a_ext 11 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vdd_cam_a_3: regulator@17 {
		compatible = "regulator-fixed";
		regulator-name = "Video-A PWR3";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		gpio = <&video_a_ext 10 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

};

&i2cswitch4 {
	i2c@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;

		/* Slot A (CN10) */

		/* MAX9286 @ 0x2c */
		max9286@2c {
			compatible = "maxim,max9286", "ti,ub9x4";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x2c 0x3a>;
			reg-names = "max9286", "ub9x4";
			regs = <0x0c 0x0d 0x0e 0x0f>;
			shutdown-gpios = <&video_a_ext 13 GPIO_ACTIVE_LOW>;

			poc0-supply = <&vdd_cam_a_0>;
			poc1-supply = <&vdd_cam_a_1>;
			poc2-supply = <&vdd_cam_a_2>;
			poc3-supply = <&vdd_cam_a_3>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					deser_in0: endpoint {
						remote-endpoint = <&camera_out0>;
					};
				};

				port@1 {
					reg = <1>;
					deser_in1: endpoint {
						remote-endpoint = <&camera_out1>;
					};
				};

				port@2 {
					reg = <2>;
					deser_in2: endpoint {
						remote-endpoint = <&camera_out2>;
					};
				};

				port@3 {
					reg = <3>;
					deser_in3: endpoint {
						remote-endpoint = <&camera_out3>;
					};
				};

				port@4 {
					reg = <4>;
					deser_out0: endpoint {
						clock-lanes = <0>;
						data-lanes = <1 2 3 4>;
						remote-endpoint = <&csi40_in>;
					};
				};
			};

			i2c@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;

				camera@60 {
					compatible = LVDS_CAMERA;
					reg = <0x60 0x0c>;

					port {
						camera_out0: endpoint {
							remote-endpoint = <&deser_in0>;
						};
					};
				};
			};


			i2c@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;

				camera@61 {
					compatible = LVDS_CAMERA;
					reg = <0x61 0x0d>;

					port {
						camera_out1: endpoint {
							remote-endpoint = <&deser_in1>;
						};
					};
				};
			};

			i2c@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;

				camera@62 {
					compatible = LVDS_CAMERA;
					reg = <0x62 0x0e>;

					port {
						camera_out2: endpoint {
							remote-endpoint = <&deser_in2>;
						};
					};
				};
			};

			i2c@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;

				camera@63 {
					compatible = LVDS_CAMERA;
					reg = <0x63 0x0f>;

					port {
						camera_out3: endpoint {
							remote-endpoint = <&deser_in3>;
						};
					};
				};
			};
		};
	};

	i2c@7 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <7>;

		/* Slot A (CN10) */
		video_a_ext: max7325@5c {
			compatible = "maxim,max7325";
			reg = <0x5c>;
			gpio-controller;
			#gpio-cells = <2>;

			video_a_des_cfg2 {
				gpio-hog;
				gpios = <4 GPIO_ACTIVE_HIGH>;
				input;
				line-name = "Video-A cfg2";
			};
			video_a_des_cfg1 {
				gpio-hog;
				gpios = <6 GPIO_ACTIVE_HIGH>;
				input;
				line-name = "Video-A cfg1";
			};
			video_a_des_cfg0 {
				gpio-hog;
				gpios = <7 GPIO_ACTIVE_HIGH>;
				input;
				line-name = "Video-A cfg0";
			};
			video_a_pwr_shdn {
				gpio-hog;
				gpios = <14 GPIO_ACTIVE_HIGH>;
				output-high;
				line-name = "Video-A PWR_SHDN";
			};
			video_a_led {
				gpio-hog;
				gpios = <12 GPIO_ACTIVE_HIGH>;
				output-low;
				line-name = "Video-A LED";
			};
		};
	};
};

&vin0 {
	status = "okay";
};

&vin1 {
	status = "okay";
};

&vin2 {
	status = "okay";
};

&vin3 {
	status = "okay";
};

&csi40 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi40_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&deser_out0>;
			};
		};
	};
};
