/*
 * Device Tree Source for the Android
 *
 * Copyright (C) 2017 GlobalLogic
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/ {
    firmware {

        optee {
            compatible = "linaro,optee-tz";
            method = "smc";
        };

        android: android {
            compatible = "android,firmware";

            fstab: fstab {
                compatible = "android,fstab";

                vendor_part: vendor {
                    compatible = "android,vendor";
                    dev = "/dev/block/platform/soc/ee140000.sd/by-name/vendor";
                    type = "ext4";
                    mnt_flags = "ro,barrier=1";
                    fsmgr_flags = "wait,slotselect";
                };

                product_part: product {
                    compatible = "android,product";
                    dev = "/dev/block/platform/soc/ee140000.sd/by-name/product";
                    type = "ext4";
                    mnt_flags = "ro,barrier=1";
                    fsmgr_flags = "wait,slotselect";
                };

                odm_part: odm {
                    compatible = "android,odm";
                    dev = "/dev/block/platform/soc/ee140000.sd/by-name/odm";
                    type = "ext4";
                    mnt_flags = "ro,barrier=1";
                    fsmgr_flags = "wait,slotselect";
                };
            };
        };
    };
};
